<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
  <link rel="icon" type="img" href="/images/iconcalendar.png" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/user.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
</head>

<body>
  <%- include('../partials/header'); %>

    <div class="container">

      <div class="ctn container1">
        <div class="info username">
          <%= u.username %>
        </div>
        <div class="info email">Email: <%= u.email %>
        </div>
        <div class="info phone">Phone: <%= u.phone %>
        </div>
        <div class="info dob">Date of birth: <%= u.dob %>
        </div>
        <form class="follow" action="/user/follow/<%= u._id  %>" method="post">
          <button class="button">Follow</button>
        </form>
      </div>
      <div class="ctn container2">
        <div class="month">
          <div class="week">
            <h2></h2>
          </div>
        </div>

        <div class="table">
          <table bgcolor="white">
            <thead>
              <tr class="head">
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        

      </div>
      <div class="container3">
          
      </div>
</body>

</html>


<script>
  const date = new Date();
  let id = Number('<%= start %>')
  const renderCalendar = () => {
    const lastDay = new Date(
      date.getFullYear(),
      date.getMonth() + 1,
      0
    ).getDate();
    const prevLastDay = new Date(
      date.getFullYear(),
      date.getMonth(),
      0
    ).getDate();


    const months = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
    ];
    const colors = [
            "#a5f5c5",
            "#bfc8fc",
            "#ecabfa",
            "#79f8ee",
            "#bcddf8",
            "#e9f3a1",
            "#b0fcc4",
            "#f8b8ed",
            "#fca0a0",
        ];
    let date1 = "<th></th>";
    var check1 = false;
    var check2 = false;
    var sunday = null;
    var saturday = null;
    for (let j = 0; j < 7; j++) {
      var i = date.getDate() - date.getDay() + j;
      if (i <= 0) {
        date1 += `<th class="date">${prevLastDay + i}</th>`;

        if (j == 0) {
          sunday = prevLastDay + i;
          check1 = true;
        }
      } else if (i > lastDay) {
        date1 += `<th class="date">${i - lastDay}</th>`;
        if (j == 6) {
          saturday = i - lastDay;
          check2 = true;
        }
      } else {
        if (i === new Date().getDate() &&
          date.getMonth() === new Date().getMonth()) {
          date1 += `<th class="date today">${i}</th>`;
        } else {
          date1 += `<th class="date">${i}</th>`;
        }

        if (j == 0) {
          sunday = i;
        }
        if (j == 6) {
          saturday = i;
        }
      }
    }
    if (check1) {
      if (date.getMonth() == 0) {
        document.querySelector("h2").innerHTML
          = months[(date.getMonth()) % 12] + ' ' + sunday + ' , ' + date.getFullYear() + ' - '
          + months[(date.getMonth() - 1) % 12] + ' ' + saturday + ' , ' + (date.getFullYear() - 1);

      } else {
        document.querySelector("h2").innerHTML
          = months[(date.getMonth() - 1) % 12] + ' ' + sunday + ' - ' + months[(date.getMonth()) % 12] + ' ' + saturday + ' , ' + date.getFullYear();
      }

    } else if (check2) {
      if (date.getMonth() == 11) {
        document.querySelector("h2").innerHTML
          = months[(date.getMonth()) % 12] + ' ' + sunday + ' , ' + date.getFullYear() + ' - '
          + months[(date.getMonth() + 1) % 12] + ' ' + saturday + ' , ' + (date.getFullYear() + 1);

      } else {
        document.querySelector("h2").innerHTML
          = months[(date.getMonth()) % 12] + ' ' + sunday + ' - ' + months[(date.getMonth() + 1) % 12] + ' ' + saturday + ' , ' + date.getFullYear();
      }


    } else {
      document.querySelector("h2").innerHTML
        = months[date.getMonth()] + ' ' + sunday + ' - ' + saturday + ' , ' + date.getFullYear();
    }



    document.querySelector(".head").innerHTML = date1;

    let date2 = "";
    var newid = id
    for (let i = 0; i < 24; i++) {
      date2 += `<tr>
            <td class="Col">${i}:00</td>`
      for (let j = 0; j < 7; j++) {
        date2 += `<td class="view " id="id${newid + j * 86400}"></td>`
      }
      newid = newid + 3600
      date2 += `</tr>`
    }
    document.querySelector("tbody").innerHTML = date2;
    var Event = document.querySelector('.container3');
    let events = '<%- JSON.stringify(events) %>';
           if(events!=='0'){
        events=events.substring(1, events.length-1);
       events=events.split("},");
        for (let i = 0; i < events.length; i++) {
            if (i !== events.length - 1) events[i] = events[i] + '}';
        
            events[i] = JSON.parse(events[i]);
            var event = document.querySelector(`#id${Number(events[i].start)}`);
            event.classList.add('event')
            event.innerHTML = `<p>${events[i].name}<p>`;
            event.classList.remove('view')
            event.style.background = colors[i%9];
            let str = event.getAttribute('id');
            let start = new Date(Number(events[i].start) * 1000)
            let end = new Date((Number(events[i].end)) * 1000)
            event.addEventListener("click", () => {
                Event.innerHTML = `
            <div class="Event">
                <span class="material-icons close">
                    close
                    </span>   
                <h1>Event</h1>
                <form action="/events/import/${events[i]._id}" id="Event-form" method="POST">
                    <div class="input-field">
                        <p>Start Time</p>
                        <input class="input" id="starttime" type="datetime-local" name="start" value=${start.toISOString().slice(0, 16)} disabled />
                    </div>
                    <div class="input-field">
                        <p>End Time</p>
                        <input class="input" id="endtime" type="datetime-local" name="end" value=${end.toISOString().slice(0, 16)} disabled />
                    </div>
                    <div class="input-field">
                        <p>Event Name</p>
                        <input class="input" id="eventname" type="text" name="name" autocomplete="off" value=${events[i].name} disabled />
                    </div>
                    <div class="input-field">
                        <p>Location</p>
                        <input class="input" id="location" type="text" name="location" autocomplete="off" value=${events[i].location} disabled />
                    </div>
                    <div class="input-field">
                        <p>Description</p>
                        <input class="input" id="description" type="text" name="description" autocomplete="off" value=${events[i].description}
                        disabled />
                    </div>       
                    <div>
                    <button type="submit" class="import">IMPORT </>
                    </div>
                  
            </form>`
                Event.style.display = 'block';
                var close = document.querySelector('.close');
                close.addEventListener("click", () => {
                    Event.style.display = 'none';
                });
                
            });
        }
      }
    
  };
  renderCalendar();


  var button = document.querySelector('.button');
  var follow = "<%= follow  %>"; follow = Number(follow);
  if (follow === 1) {
    button.innerHTML = `Unfollow`;
  }
  else if (follow === 0) button.innerHTML = `Follow`;

const urlParams = new URLSearchParams(window.location.search);
  const myParam = urlParams.get('mess');
  if (myParam == 0) alert('Import event is conflict with your events, please check and try again ');
  else if(myParam==1) alert('Import event successfully ');
</script>